.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  color: #747c81;
  font-family: Open sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 29.92px;
  margin: 0px 0px 15px;
  text-align: left;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.cardGroup {
  height: 276px;
  width: 285px;
  margin-bottom: 1rem;
}

.card {
  position: relative;
  top: -48px;



  margin: 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  background-color: #ffffff;
  border-color: #e3e8ed;
  border-style: solid;
  border-width: 1px;
  box-shadow: #e8e1e1 0px 1px 2px 0px;

  display: flex;
  flex-direction: column;
  font-family: Open Sans;
  font-size: 14px;
  padding: 23px 24px 65px 28px;
  text-align: left;
  padding-bottom: 0px;
}

.cardIcon {
  position: relative;
  top: 0px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 54px;
  width: 100%;
  z-index: 15;
} 

.cardType {
  position: relative;
  top: 0px;
  left: 0px;
  color: #8696a0;
  font-size: 12px;
  font-weight: 600;
  line-height: 18.48px;
  text-align: left;
  text-transform: uppercase;
}

.cardContent {
}

.cardTitle {
  color: #8696a0;
  font-weight: 800;
  margin: 6px 0px 0px;
  text-align: left;
  font-size: 14px;
  width: 231px;
  height: 43px;
}

.cardProgress {
  width: 146px;
  margin-top: 45px;
}

.cardCantidadGroup {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 7px;
  margin-top: -65px;
  align-items: center;
  height: 50px;
}
 
.cardCantidad {
  color: #747c81;
  display: inline;
  font-size: 25px;
  font-weight: 800;
  line-height: 40px;
  text-align: left;
}

.cardCursosCompletados {
  color: #747c81;
  display: inline-block;
  font-size: 13px;
  line-height: 14.04px;
  text-align: left;
  width: 65px;
}


@media screen and (min-width: 1025px) {
  /* Estilos para pantallas de escritorio */
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* Estilos para pantallas grandes */
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  /* Estilos para pantallas medianas */
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  /* Estilos para pantallas pequeñas (móviles) */
  body {
    font-size: 10px;
    background-color: white;
  }
}