@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: ui-monospace, Lato, Bitter, Menlo, Monaco, monospace;

  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
  body {
    width: 100%;
  }
}
