

.container {
  position: relative;
  top: 80px;
  width: 1024px;
  height: 600px;
  display: flex;
  margin: auto;
  background: linear-gradient(
    134.94deg,
    #097ff5 0.66%,
    #045ab0 55.62%,
    #003b76 74.98%
  );
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


.leftSection {
  width: 500px;
  height: 600px;
  top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.titleWelcome {
  position: relative;
  width: 100%px;
  height: 150px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  margin: auto;
}

.infotext {
  position: relative;
  width: 90%;
  height: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  margin: auto;
}

.descriptionText {
  position: relative;
  width: 90%;
  height: auto;
margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  color: #ffffff;
}


.logosContainer {
  position: relative;
  margin-top: 30px;
  height: auto;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.titleLogos {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;

  position: relative;
  width: 90%;
  height: 20px;
  left: 40px;
  font-size: 14px;
  border: none;

  outline: none;
  color: #c9c9c9;
}


.repositorio{
  position: relative;
  width: 90%;
  top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #c3c1c1;
margin: auto;
}

.repositorio p {
  margin-top: 0px;
  margin-bottom: 0;
}

.repositorio img {
  align-self: flex-start;
}

.rightSection {
  display: flex;
  width: 524px;
  height: 600px;

  background: #ffffff;
  border-radius: 0 10px 10px 0;
  flex-direction: column;

  flex-wrap: nowrap;
}

.loginTitle {
  position: relative;
  width: 90%;
  height: 30px;
margin: auto;
  margin-top: 70px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  align-items: center;
  text-align: center;

  color: #097ff5;
}

.userGroup {
  width: 70%;
  height: 60px;
  margin: auto;
}

.inputLogin {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;

  margin-bottom: -10px;
  position: relative;
  width: 100%;
  height: 60px;

}

.inputLogin input {
  width: 100%;
  appearance: none;
  font-size: 20px;
  border: none;
  background-color: white;
  outline: none;
  color: #c9c9c9;
}

.lineLogin {
  position: relative;
 
  width: 100%;
  height: 5px;
  background: linear-gradient(89.99deg, #097ff5 0%, #fdfeff 99.99%);
}

.buttonLogin {
  margin: auto;
  position: relative;
  width: 60%;
  height: 45px;
  margin-top: 10px;
  background: linear-gradient(90deg, #097ff5 0%, #097ff5 100%);
  border-radius: 8px;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.115em;
  justify-content: center;
}

.error {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;

  position: relative;
  width: 90%;
  height: 60px;
  left: 40px;
  font-size: 20px;
  border: none;
  background-color: white;
  outline: none;
  color: #c9c9c9;
}

.disclaimer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  position: relative;
  width: 80%;
  height: 30px;

  font-size: 14px;
  border: none;
  background-color: white;
  outline: none;
  color: #ee4c4c;
  text-align: center;
}

.usuarioTest {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: -80px;
  position: relative;
  width: 90%;
  height: 14px;
  font-size: 14px;
  border: none;
  background-color: white;
  outline: none;
  color: #2b2b2ba2;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}

.usuarioTest h3,
.usuarioTest p {
  margin-bottom: -4px;
}




@media screen and (min-width: 1025px) {
  /* Estilos para pantallas de escritorio */
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* Estilos para pantallas grandes */
  body {
    font-size: 14px;
  }
.rightSection{
  border-radius:10px 10px 0 0 ;
}
  
  .container{
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    width: 524px;
    height: 1200px;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  /* Estilos para pantallas medianas */
  body {
    font-size: 12px;
  }

  .container{
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    width: 524px;
    height: 1200px;
  }

  .rightSection{
    border-radius:10px 10px 0 0 ;
  }

}

@media screen and (max-width: 480px) {
  /* Estilos para pantallas pequeñas (móviles) */
  body {
    font-size: 10px;
    background-color: #097ff5;
  }

  .container{
    
    top: 30px;

    flex-direction: column-reverse;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    margin: auto;
  }

 

  .leftSection {
    width: 100%;
    height: auto;
  }

  .rightSection {
    display: flex;
    border-radius: 0 ;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .repositorio{
    margin-top: 5px;
    margin-bottom: 30px;
  }

}
