.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logoContainer {
  margin-right: auto;
  display: flex;
    align-items: center;
    width: 260px;
    justify-content: space-evenly;
}

.menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.menuItems {

  background: transparent;
  border: none;
  color: #747c81;
  padding: 1.8em 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .02rem;
  font-family: Open sans,sans-serif;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
list-style: none;

}

.menuItems li {
  margin-right: 40px;
  text-decoration: none;
}

.menuItems li:last-child {
  margin-right: 40px;
}

.submenu li span {
  display: block;
}

.separator {
  width: 1px;
  height: 43px;
  display: block;
  background-color: #d8d8d8;
}


.avatar {
  width: 45px;
  height: 45px;
  margin-right: 0;
  border-radius: 50%;
}


  
  .activeLink {
    color: orange;
  }
  
  .darkModeButton {
    width: 15%;
    list-style: none;
    position: relative;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    font-size: 30px;
    margin-left: 10px;
    color: orange;
  }
  
  .menuText {
    display: none;
  }
  
 
  
  .iconDarkLigth {
    color: rgb(255, 221, 0);
    font-size: 25px;
  }
  

  
  .menu hr {
    height: 100vh;
    width: 0.1vw;
    border-width: 0;
    color: green;
    background-color: gray;
  }
  

  .submenu li span::after {
    content: "SALIR";
  }
  
  /* Estilizar el pseudoelemento ::after */
  .submenu li span::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Cambiar el color de fondo del pseudoelemento ::after cuando se hace hover */
  .submenu li span:hover::after {
    background-color: #333;
  }